@model PizzeriaMK.Models.OrderItem

@{
    ViewBag.Title = "Details";
}


@if (TempData["ProductSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        Prodotto aggiunto all'ordine!
    </div>
}

<h2>@ViewBag.Product.ProductName</h2>

<div>
    <hr />
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <div>
                <img src=@ViewBag.Product.ProductImage alt="" style="width: 400px" />
            </div>
            <div class="mx-3">
                <h4>Prodotto</h4>
                <p>@ViewBag.Product.ProductName</p>
                <h4>Categoria</h4>
                <p>@ViewBag.Product.Category</p>
                <h4>Preparazione</h4>
                <p>@ViewBag.Product.PreparationTime</p>
                <h4>Ingredienti</h4>
                <p>@ViewBag.Product.Ingredients</p>
                <h4>Prezzo</h4>
                <h5>@ViewBag.Product.ProductPrice€</h5>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
            @using (Html.BeginForm("Create", "OrderItems", new { id = ViewBag.Product.ProductId }))
            {
                @Html.AntiForgeryToken()

                @Html.DropDownListFor(model => model.Quantity, Enumerable.Range(1, 10).Select(i => new SelectListItem
                {
                    Text = i.ToString(),
                    Value = i.ToString()
                }), "Seleziona quantità", new { @class = "form-select" })

                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

                <button class="btn btn-success mt-2" type="submit">Ordina</button>
            }
        </div>
    </div>
</div>
@if (HttpContext.Current.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Product.ProductId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
